[Desktop Entry]
Encoding=UTF-8
Name=SimDock
Comment=A dockbar for GNOME
Comment[it]=Una dockbar per GNOME
Exec=simdock
Icon=simdock.png
Terminal=false
Type=Application
MimeType=application/x-simdock
Categories=Application;Utility;
StartupNotify=true
X-Ubuntu-Gettext-Domain=simdock
