Source: simdock
Section: x11
Priority: extra
Maintainer: onli <onli@paskuda.biz>
Build-Depends: debhelper (>= 8.0.0), libglib2.0-dev, libgconf2-dev, libgtk2.0-dev, libwnck-dev, libwxgtk2.8-dev, libxcb1-dev, libxcb-ewmh-dev | libxcb-ewmh1-dev, xcb-proto
Standards-Version: 3.9.2
Homepage: https://github.com/onli/simdock
#Vcs-Git: git://git.debian.org/collab-maint/simdock.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/simdock.git;a=summary

Package: simdock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libgconf-2-4, libgtk2.0-0, libwnck22, libwxgtk2.8-0, libxcb1, libxcb-ewmh2 | libxcb-ewmh1, xcb-proto
Description: light and fast dock

