Source: simdock
Section: gnome
Priority: optional
Maintainer: Simone Della Longa <simonedll@yahoo.it>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: simdock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Customizable eye-candy dockbar
 A fast and customizable dockbar, allows the user to launch applications 
 showing animations and fading effect. 
 .
 It is written in c++ and wxWidgets for Gnome but works on most desktop environments. 
 Does not require Compiz nor 3D acceleration.
