Source: simdock
Section: x11
Priority: extra
Maintainer: onli <onli@paskuda.biz>
Build-Depends: debhelper (>= 8.0.0), libglib2.0-dev, libgconf2-dev, libwnck-3-dev, libwxgtk3.0-gtk3-dev |  libwxgtk3.2-dev, libxcb1-dev, libxcb-ewmh-dev | libxcb-ewmh1-dev, xcb-proto, librsvg2-dev
Standards-Version: 3.9.2
Homepage: https://github.com/onli/simdock
#Vcs-Git: git://git.debian.org/collab-maint/simdock.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/simdock.git;a=summary

Package: simdock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libwnck-3-0, libwxgtk3.0-gtk3-0v5 | libwxgtk3.2-1, libxcb1, libxcb-ewmh2 | libxcb-ewmh1, xcb-proto, librsvg2-2
Description: light and fast dock

